/* css ruleset */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style nabvar */
.navbar{
    background-color: black;
    height: 10vh;
}

.navbar,a {
    color: white;
    font-weight: bold;
} 

a:hover{
    color: black;
    background-color: rgb(238, 246, 246);
    border-radius: 10px;
}

.my{
    color: rgb(222, 177, 14);
    font-size: 30px;
}

img{
    background-size: cover;
    height: 85vh;
    margin-top: -2%;
    width: 100%;
}