@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100;200;300;400;600&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap');
/* css ruleset */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(11, 10, 10);
}

/* style nabvar */

.navbar {
    color: white;
    font-weight: bold;
} 

a:hover{
    color: rgb(250, 51, 51);
    background-color: rgb(238, 246, 246);
}

.my{
    color: rgb(222, 177, 14);
    font-size: 30px;
}

/* quotes styling */
.quote{
    color: rgb(222, 177, 14);
    font-family: 'Anek Gujarati',
    sans-serif;
    font-family: 'Roboto Condensed',
    sans-serif;
    width: 40%;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 15px;
    margin: 5%;
    
}

/* img */
img{
    width: 10%;
}

/* blogs */
.blogs{
    text-align: center;
    font-family: 'Anek Gujarati',
    sans-serif;
    font-family: 'Roboto Condensed',
    sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white
}

.thumbnail{
    background-color: black;
}

blockquote{
    color: aqua;
}

.style{
    color: rgb(243, 251, 251);
    font-size: 1.4rem;
}

.form{
    background-color: black;
    border-radius: 5px;
    color: aqua;
    height: 70vh;
    font-size: 20px;
    font-family: 'Anek Gujarati',
    sans-serif;
    font-family: 'Roboto Condensed',
    sans-serif;
}

/* profile styling */
.img-thumbnail{
    width: 70%;
}

.profile{
    background-color: black;
    color: aqua;
    height: 80vh;
    font-size: 20px;
    font-family: 'Anek Gujarati',
    sans-serif;
    font-family: 'Roboto Condensed',
    sans-serif;
}



/* btn */
.btn{
    margin-left: 5%;
}

/* comments styling  */
ol{
    background-color: aliceblue;
    height: 53vh;
    font-size: 20px;
    font-family: 'Anek Gujarati',
    sans-serif;
    font-family: 'Roboto Condensed',
    sans-serif;
}
